.login-page {
  height: 100%;
  overflow: hidden;

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__left-container {
    flex: 4; /* 비율을 4로 설정 */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  &__right-container {
    flex: 6; /* 비율을 6으로 설정 */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    span:nth-child(1) {
      /* 첫 번째 스팬 스타일 */
      width: 620px;
      height: 76.57px;
      font-size: 60px;
      margin-bottom: 50px;
      color: var(--text-color);
    }

    span:nth-child(2) {
      /* 두 번째 스팬 스타일 */
      font-size: 20px;
      margin-bottom: 40px;
      color: var(--text-color);
    }

    span:nth-child(7) {
      font-size: 20px;
      margin-bottom: 40px;
      color: var(--text-color);
    }

    .login-page__button:nth-of-type(1) {
      width: 400px;
      height: 50px;
      background-color: gray;
      border: none;
      border-radius: 20px; /* 트위터 스타일 둥근 모서리 */
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .login-page__button:nth-of-type(2) {
      width: 400px;
      height: 50px;
      background-color: rgb(29, 155, 240);
      color: white;
      border: none;
      border-radius: 20px; /* 트위터 스타일 둥근 모서리 */
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .login-page__terms {
      color: var(--text-color);
      width: 400px;
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 30px;
      text-align: center;
    }

    .login-page_loginbutton {
      width: 400px;
      height: 50px;
      border-radius: 20px;
      border: none;
      background-color: gray;
      cursor: pointer;
    }
  }

  &__logo {
    height: 287.57px;
    width: 318.14px;
  }

  &__separator {
    display: flex;
    color: white;
    align-items: center;
    width: 400px;
    margin: 20px 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid var(--text-color);
    }

    .login-page__separator-text {
      white-space: nowrap;
    }
  }

  // width가 768이하일떄
  @media (max-width: 800px) {
    &__container {
      flex-direction: column; /* 컨테이너를 역순으로 설정 */
      justify-content: center;
    }

    //left-container
    &__left-container {
      flex: unset;
      align-items: center;
      height: auto;
    }
    &__logo {
      margin-top: 30px;
      height: 50px;
      width: 50px;
    }

    //right-container
    &__right-container {
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;

      span:nth-child(1) {
        /* 첫 번째 스팬 스타일 */
        width: 100%;
        height: auto;
        font-size: 25px;
        margin-bottom: 50px;
        color: var(--text-color);
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
    .login-page__button:nth-of-type(1) {
      width: 90%;
      height: 50px;
      background-color: gray;
      border: none;
      border-radius: 20px; /* 트위터 스타일 둥근 모서리 */
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .login-page__button:nth-of-type(2) {
      width: 90%;
      height: 50px;
      background-color: rgb(29, 155, 240);
      color: white;
      border: none;
      border-radius: 20px; /* 트위터 스타일 둥근 모서리 */
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .login-page__terms {
      color: var(--text-color);
      width: 90%;
      font-size: 12px;
      margin-bottom: 30px;
      text-align: center;
    }
    .login-page_loginbutton {
      width: 90%;
      height: 50px;
      border-radius: 20px;
      border: none;
      background-color: gray;
      cursor: pointer;
    }
  }
}

//모달
.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
.modal-backdrop.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.8); /* 배경색과 투명도 설정 */
  z-index: 1040; /* 모달보다 낮은 z-index 설정 */
}

.modal.custom-modal {
  z-index: 1050; /* 모달의 z-index 설정 */
}
input {
  visibility: visible;
}
