.profile-page__container {
  display: flex;
  flex: 0.6;
  max-width: 600px;

  flex-direction: column;
  height: 100%;
}
.profile-page__header {
  position: sticky;
  top: 0;
}
.header__back-button-container {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.back-button-container__back-button {
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.back-button-container__back-button:hover {
  background-color: gray;
}
.back-button-container__profile-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.hedaer__background-container {
  height: 150px;
  background-color: rgb(62, 65, 68);
}
.hedaer__profile-container {
  height: 300px;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-container__profile-img-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative;
  img {
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
  }
  .profile-img-div__setup-button {
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: white;
    padding: 19px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
    cursor: pointer;
  }
}
.profile-img-div__profile-picture-container {
  position: relative;
  top: -120%;
}

.profile-container__profile-detail-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.prfile-detail-div__nickname {
  font-size: 20px;
  font-weight: bold;
}
