.home-page__post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.home-page__profile-textare-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.home-page__profile-container {
  flex: 0.1;
  display: flex;

  align-items: center;
  img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
}
.home-page__textarea-container {
  display: flex;
  align-items: center;
  flex: 0.8;
}
.home-page__post-item {
  width: 100%;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.home-page__textarea {
  width: 100%;
}
.home-page__post-author {
  flex: 0.1;
  margin-right: 10px;
  display: flex;

  img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
  }
}

.home-page__post-content {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  .home-page__post-header {
    display: flex;
    flex-direction: column;
  }
}
.home-page__post-text {
  width: 100%;
  word-wrap: break-word;
}
.home-page__controls-container {
  display: flex;
  gap: 10px;
}
.home-page__controls {
  margin-top: 10px;
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page__img-icon {
  cursor: pointer;
}
.home-page__controls-button {
  background-color: rgb(29, 155, 240);
  border-color: rgba(0, 0, 0, 0);
  width: 77px;
  height: 39px;
  border-radius: 34px;
  cursor: pointer;
}

.home-page__post-text {
  color: white;
  font-weight: bold;
}
.home-page__post-footer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.home-page__post-likes,
.home-page__post-comments {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.home-page__post-likes:hover {
  color: rgb(249, 24, 128);
}

.home-page__post-comments:hover {
  color: rgb(29, 155, 240);
}
