.layout-container {
  max-width: 1800px;

  display: flex;
  justify-content: center;
}

/// left
.left-component {
  flex: 0.2;

  max-width: 500px;
  padding: 0 30px;
  position: relative;

  display: flex;
  justify-content: center;
}

.left-component__icon-box {
  position: fixed;
  height: 100%;
  top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.left-component__logobutton {
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  img {
    cursor: pointer;
  }
}

.left-component__homebutton,
.left-component__explorebutton,
.left-component__profilebutton {
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
  width: 150px;
  display: flex;
  height: 50px;
  align-items: center;

  div {
    margin-left: 10px;
  }
}
.left-component__logout-container {
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  gap: 10px;

  img {
    height: 40px;
    border-radius: 25px;
  }
}
.left-component__homebutton:hover,
.left-component__explorebutton:hover,
.left-component__logout-container:hover,
.left-component__profilebutton:hover {
  background-color: #333333; /* 호버 시 살짝 밝아진 배경색 */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* 미묘한 그림자 효과 */
}
.logout-container__profile-container {
  display: flex;

  gap: 10px;
}
.logout-container__logout-button {
  display: none;
}
//right

.right-component {
  border-left: 1px solid gray;
  max-width: 500px;
  flex: 0.2;
}

// width 850px 이하일때
@media (max-width: 850px) {
  .layout-container {
    flex-direction: column; /* 세로 정렬 */
  }

  .home-page {
    order: 1; /* 중앙을 맨 위로 */
    margin-bottom: 50px;
  }

  .right-component {
    display: none;
  }

  .left-component {
    order: 2;
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    border-top: 1px solid white;
  }
  .left-component__icon-box {
    width: 100%;

    padding: 10px 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    top: auto;
    border-top: 1px solid gray;
  }
  .left-component__logobutton {
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    display: none;

    img {
      cursor: pointer;
    }
  }

  .left-component__homebutton,
  .left-component__explorebutton,
  .left-component__logout-container,
  .left-component__profilebutton {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
    width: 50px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    div {
      margin: 0;
    }
  }
  .left-component__logout-container {
    cursor: pointer;

    gap: 10px;
    position: static;
  }

  .left-component__home-text,
  .left-component__explore-text,
  .left-component__profile-text {
    display: none;
  }

  .logout-container__profile-container {
    display: none;
  }
  .logout-container__logout-button {
    display: block;
  }
}
